.container-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container-table-title {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid #cecece
}

.table-title {
  color: var(--primary-color);
  font-size: 21px;
  margin: 3px 0 0;
}

.mat-column-nome {
  width: 24%;
}
.mat-column-cpf {
  width: 24%;
}
.mat-column-email {
  width: 24%;
}
.mat-column-telefone {
  width: 24%;
}
.mat-column-acao {
  width: 2.5%;
}

