 .box__login {
    display: flex;
    justify-content: center;
 }

 .login__titulo {
    color: var(--primary-color);
    margin-bottom: 20px;
 }

 .login__container {
      margin-top: 5em;
      background-color: #fff;
      padding: 0 20px 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 400px;
      text-align: center;
  }

  .login__form {
      display: flex;
      flex-direction: column;
  }

  .login__label {
      margin-bottom: 8px;
      text-align: left;
  }

  .login__input {
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }

  .login__submit {
      padding: 10px;
      background-color: var(--primary-color);
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 700;
  }

  .login__submit:hover {
      background-color: var(--tertiary-color);
  }

@media (max-width: 425px) {
  .login__container {
    width: 300px;
  }
}
