.cabecalho {
    background-color: var(--secundary-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.cabecalho__titulo {
    margin-left: 1em;
    text-align: left;
    font-size: 2em;
    padding: 15px;
    color: var(--primary-color);
}

.cabecalho__login {
    margin-right: 1em;
    color: var(--primary-color);
    padding: 5px;
}

.strong__titulo {
    color: var(--blue-strong);
}

.apresentacoes {
    display: flex;
    flex-direction: column;
}

.apresentacao__um {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5em;
}

.apresentacao__destaque {
    font-size: 1.8em;
    font-weight: 700;
}

.apresentacao__descricao {
    font-size: 1.3em;
}

.img__apresentacao {
    width: 300px;
    height: 300px;
}

.apresentacao__dois {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button__cadastro {
    padding: 0.8rem 2.4rem;
    box-sizing: border-box;
    color: var(--secundary-color);
    border: none;
    cursor: pointer;
    outline: inherit;
    border-radius: 3.2rem;
    background: var(--linear-botes);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}