.cabecalho {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 19px -13px rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
}

.cabecalho__titulo {
    margin-left: 1em;
    text-align: left;
    font-size: 2em;
    padding: 15px;
    color: var(--primary-color);
    text-decoration: none;
}

.cabecalho__login {
    margin-bottom: 0;
    color: var(--primary-color);
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
}

.cabecalho__titulo_login {
    text-decoration: none;
}

.strong__titulo {
    color: var(--blue-strong);
}

.login__grupo {
    display: flex;
    align-items: center;
    row-gap: 1em;
    text-decoration: none;
    margin-right: 1em;
}

.login__icone {
    width: 1em;
}

.apresentacoes {
    display: flex;
    flex-direction: column;
    row-gap: 10em;
    background: linear-gradient(to right, #fff 70%, #FFFFFF 80%, #a499fa 80%, #242957 80%);
    margin-bottom: 5em;
}

.apresentacao__um {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:2em 0 5em 6em;
}

.apresentacao__destaque {
    font-size: 1.5em;
    font-weight: 700;
}

.apresentacao__descricao {
    font-size: 1em;
}

.img__apresentacao_01 {
    width: 800px;
    box-shadow: 0px 0px 37px -16px rgb(0, 0, 0);
}

.img__apresentacao_02 {
    width: 800px;
    box-shadow: 0px 0px 37px -16px rgb(0, 0, 0);
}

.apresentacao__dois {
    display: flex;
    justify-content: space-evenly;
    column-gap: 10em;
    align-items: center;
}

.button__cadastro {
    padding: 0.8rem 2.4rem;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    outline: inherit;
    border-radius: 3.2rem;
    background: var(--linear-botes);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.link_cadastrar {
    text-decoration: none;
    color: var(--secondary-color);
}

.container__lista {
    display: flex;
    flex-direction: column;
}
.apresentacao__lista {
    list-style: none;
}

@media (max-width: 1024px) {
    .apresentacoes {
        margin-top: 2em;
    }
    .apresentacao__um {
        flex-wrap: wrap;
        row-gap: 2em;
        justify-content: left;
        margin: 0 0 0 2em;
    }

    .apresentacao__dois {
        justify-content: space-between;
        margin: 0 0 0 2em;
    }

    .img__apresentacao_02 {
        width: 650px;
    }

    .button__cadastro {
        display: flex;
    }
}

@media (max-width: 720px) {
    .apresentacoes {
        margin-bottom: 3em;
        margin: 0 2em;
    }

    .apresentacao__dois {
        flex-wrap: wrap;
        row-gap: 2em;
    }

    .img__apresentacao {
        width: 600px;
    }
}