<header class="cabecalho">
    <h1 class="cabecalho__titulo"><strong class="strong__titulo">Recupera</strong>Mais</h1>
    <a href="#" class="cabecalho__login">Login</a>
</header>

<main>
    <section class="apresentacoes">
        <div class="apresentacao__um">
            <div class="">
                <h3 class="apresentacao__destaque">
                    Nosso programa para cadastro de clientes
                </h3>
                <p class="apresentacao__descricao">
                    Organizando a nossa rede de clientes em um só lugar!
                </p>
                <br>
                <button class="button__cadastro">Cadastrar</button>
            </div>
            <div>
                <img src="/frontend/src/assets/images/clientes.png" alt="" class="img__apresentacao">
            </div>
        </div>
        <div class="apresentacao__dois">
            <div>
                    <img src="/frontend/src/assets/images/clientes.png" alt="" class="img__apresentacao">
            </div>
            <div class="apresentacao__lista">
                <ul class="apresentacao__lista">
                    <h3>Funcionalidades</h3>
                    <li>Campos personalizáveis</li>
                    <li>Campos personalizáveis</li>
                    <li>Campos personalizáveis</li>
                </ul>
                <button class="button__cadastro">Cadastrar</button>
            </div>
        </div>
    </section>
</main>