    <header class="cabecalho">
        <h1 class="cabecalho__titulo"><strong class="strong__titulo">Recupera</strong>Mais</h1>
            <a href="#" class="cabecalho__login">Login</a>
    </header>

    <main>
        <section class="apresentacao">
            <div class="sect-texto">
                <h3 class="sect__destaque">
                    Nosso programa para cadastro de clientes
                </h3>
                <p class="sect__descricao">
                    Organizando a nossa rede de clientes em um só lugar!
                </p>
                <br>
                <button class="btn__cadastrar">Cadastrar</button>
            </div>
            <div>
                <img src="/frontend/src/assets/images/clientes.png" alt="" class="sec-img-01">
            </div>
        </section>
    </main>